<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekcja 1</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Ul1 - obiekty tablicy</h1>
        <ul>
            <li v-for="item in array">{{item}}</li>
        </ul>
        <h1>Ul2 - wartości obiektów tablicy</h1>
        <ul>
            <li v-for="item in array">{{item.a}} {{item.b}}</li>
        </ul>
        <h1>Ul3 - wartości obiektów tablicy z licznikiem</h1>
        <ul>
            <li v-for="(item,i) in array">{{i}}: {{item.a}} {{item.b}}</li>
        </ul>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    array: [{ a: 1, b: 4 }, { a: 2, b: 5 }, { a: 3, b: 6 }]
                }
            }
        }).mount("#app")

    </script>
</body>

</html>